@use '../../config' as config;

/// Функция `is-int` проверяет значение на соответствие
/// типу `Number` и возращает `true` или `false`.
/// ---
/// @name is-int
/// @since 7.0.0
/// @access public
/// @author Zsolt Pentz
/// @link https://github.com/pentzzsolt GitHub
/// @example scss Пример использования в Sass (SCSS)
/// 	$boolean: true;
/// 	$number: 1310;
/// 	$string: "Sassify";
/// 	$list: 1 2 3 4 5;
/// 	$map: (
/// 		one: 1,
/// 		two: 2,
/// 		three: 3
/// 	);
/// 	$null: null;
/// 	$color: #fff;
///
/// 	@debug is-int($boolean); //=> false
/// 	@debug is-int($number); //=> true
/// 	@debug is-int($string); //=> false
/// 	@debug is-int($list); //=> false
/// 	@debug is-int($map); //=> false
/// 	@debug is-int($null); //=> false
/// 	@debug is-int($color); //=> false
/// @return {Boolean} является ли переданное значение числом?
/// @param {Number} $value - значение, которое необходимо проверить на соответствие типу `Number`
@function is-int($value) {

	// Создаем пустую переменную, которой потом
	// будем присваивать значение.
	$-is-int: null;

	@if type-of($value) == number {

		// Если значение `$value` соответствует типу
		// `Number`, то присваиваем переменной `$-is-int`
		// значение `true`:
		$-is-int: true;

	} @else {

		// Если значение `$value` не соответствует типу
		// `Number`, то присваиваем переменной `$-is-int`
		// значение `false`:
		$-is-int: false;

		// Шаблон сообщения об ошибке:
		$-log-message: ' Значение «#{$value}» не соответствует типу `Number`!';

		// Также выводим сообщение об ошибке в консоль:
		@if config.$setting--strict-mode == true {

			// Если включен Strict Mode, то выводим сообщение
			// об ошибке директивой `@error`:
			@error #{config.$string--emoji_error} + $-log-message;

		} @else {

			// Если выключен Strict Mode, то выводим сообщение
			// об ошибке директивой `@warn`:
			@warn #{config.$string--emoji_debug} + $-log-message;

		}

	}

	@return $-is-int;

}
